doctype 5
html(lang="en", data-username="#{user.username}", data-access-token="#{user.accessToken}")
  head
    meta(charset="utf-8")
    title Githubpoll app
    meta(name="description", content="description should be here")
    meta(name="keywords", content="keywords should be here")
    meta(name="author", content="Maryna Aleksandrova")
    link(rel="stylesheet", href="/index.css")
  body
    header.visible#login
      a(href="/auth") Login
    header.invisible#user-info
        span#welcome Welcome  
        span#username
        a#logout(href="/logout") Logout
    div.page.invisible#create-poll-page
      section#create-issue-form
        input#issue-title(placeholder="Name of issue...", required)
        textarea#issue-description(rows="4", cols="50", placeholder="Add some description...")
        select#user-repos-select(required)
          option ---
        span Want to add somebody personally?
        input#mandatory-voter
        button#add-mandatory-voter-button Add
        div#mandatory-voter-container
        span#issue-labels Labels:
        input#issue-label
        button#add-issue-label-button Add
        div#issue-labels-container
        button#create-issue-button Create poll
    div.page.invisible#poll-page
      h1#poll-title
      div#poll-description
      div#yes Yes:
      div#no No:
      div#issue-comments
      div#vote-btns
        button#yes-btn +1
        button#no-btn -1
      div#pie-chart
  //- script(src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js")
  script(src="/underscore.js")
  script(src="/page.js")
  script(src="/jquery-1.7.2.min.js")
  script(src="/d3.v2.min.js")
  script(src="/pie.js")
  script(src="/app.js")

  script#user-social-activity-tpl(type="text/template")