doctype 5
html(lang="en", data-username="#{user.username}")
  head
    meta(charset="utf-8")
    title Githubpoll app
    meta(name="description", content="description should be here")
    meta(name="keywords", content="keywords should be here")
    meta(name="author", content="Maryna Aleksandrova")
    link(rel="stylesheet", href="index.css")
  body
    h1 Start here!
    a(href="/auth/github") Login
    br
    a(href="/logout") Logout
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js")
  script(src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js")
  script(src="underscore.js")