@import 'nib'
global-reset();
*
  box-sizing: border-box;

html
body
  background-color: white;
  font-family: Helvetica,arial,freesans,clean,sans-serif;
  font-size: 13px;
  color: #666;
  line-height: 1.6;
.container
  width: 740px;
  margin: 0 auto;
header.container
  margin-top: 10px;
  margin-bottom: 20px;
  height: 30px;
  & a
  & a:visited
    white-space: nowrap;
    text-decoration: none;
    color: #333;
  & a:hover
    color: white;
#app-footer
  border-top: 1px solid #E0E0E0;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  & .container
    margin-top: 20px;
    & p
      display: inline-block;
      vertical-align: top;
      margin: 10px 10px 0 0;
#username
  color: #4A3E7B;
  line-height: 22px;
  font-weight: bold;
  text-shadow: 0 1px 0 white;
  &:hover
    text-decoration: underline;
.page
  position: relative;
  width: 740px;
.page-container
  margin-bottom: 15px;
  padding: 3px;
  background: #EEE;
  border-radius: 4px;
.page-content
  padding: 10px;
  background: white;
  border: 1px solid #DDD;
  border-radius: 2px;
  position: relative;
  min-height: 160px;
.title
  font: 13px Helvetica,arial,freesans,clean,sans-serif;
  position: relative;
  font-size: 14px;
  font-weight: bold;
  color: #333;
#app-intro-page .title
  margin: 10px 0 15px;
#issue-title
  width: 49%;
  font-size: 16px;
  font-weight: bold;
  color: #444;
  box-sizing: border-box;
  margin-right: 5px;
  padding: 6px;
  color: #666;
  background-repeat: no-repeat;
  background-position: right center;
#issue-description
  margin-top: 15px;
  //margin-bottom: 70px;
.info-bar
  display: inline-block;
  margin: 15px 0 -10px;
  width: 100%;
  padding: 10px 10px 4px;
  border: 1px solid #E5E5E5;
  border-left: none;
  border-right: none;
  background: whiteSmoke;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 9px;
textarea
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  height: 150px;
  font-size: 12px;
.btn
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  background: #FF8A66;
  background: linear-gradient(#FF8A66, #ED4706);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  display: inline-block;
  padding: 8px 15px;
  line-height: normal;
  position: relative;
  font-size: 12px;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid;
  border-color: #E46432;
  border-bottom-color: #C13D14;
  &:hover
    background: #EE6A36;
    background: linear-gradient(#EE6A36, #BE410E);
    border-color: #D64910;
    color: white;
button#create-issue-button
  position: absolute;
  right: 5px;
  margin-top: 15px;
#user-repos-select
  width: 49%;
  font-size: 16px;
  font-weight: bold;
  color: #444;
  box-sizing: border-box;
  padding: 6px 6px;
  color: #666;
  background-repeat: no-repeat;
  background-position: right center;
  border-color: rgba(102, 102, 102, 0.15);
  & option
    font-size: 12px;
    font-weight: normal;
header
  color: #666;
  font-size: 16px;
  width: 100%;
  position: relative;
  & img
    width: 22px;
    vertical-align: -6px;
    margin: 0 3px 0 10px;
    border-radius: 11px;
#login, #logout
  color: #333;
  padding: 0 10px 0 10px;
  font-weight: bold;
  line-height: 24px;
  text-shadow: 0 1px 0 white;
  border: 1px solid #D4D4D4;
  border-bottom-color: #BCBCBC;
  border-radius: 3px;
  background: #FAFAFA;
  background: linear-gradient(#FAFAFA,#EAEAEA);
  cursor: pointer;
#logout
  position: absolute;
  right: 5px;
  bottom: -9px;
#login:hover, #logout:hover
  color: white;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  border-color: #1B0E53;
  border-bottom-color: #150A43;
  background: #716896;
  background: linear-gradient(#716896,#1D0D5A);
#no-results
  margin-bottom: 10px;
  margin-top: 20px;
#chart-panel
  margin: -35px auto 0;
  height: 400px;
  position: relative;
#poll-description
  margin-top: 10px;
  margin-bottom: 10px;
#yes, #no
  font-weight: bold;
  & span
    margin-left: 4px;
.not-valid
  border: 1px solid red!important;
///colors for pie
g.slice:nth-child(1)
  fill: #ED4706;
g.slice:nth-child(2)
  fill: #232063;
footer a
  color: #4A3E7B;
  text-decoration: none;
  &:hover
    text-decoration: underline;
header svg
  width: auto;
  display: inline-block;
  & path
    fill: #4A3E7B;
#home
  margin-right: 15px;
  display: inline-block;
  bottom: -8px;
  width: 30px;
  height: 30px;
  position: relative;
  &:hover path
    fill: #FF8A66;
.visible
  display: block;
.inline-visible
  display: inline-block;
.invisible
  display: none;
