@import 'nib'
global-reset();
*
  box-sizing: border-box;
.repo
  width: 740px;
.page
  position: relative;
.page-container
  margin-bottom: 15px;
  padding: 3px;
  background: #EEE;
  border-radius: 4px;
#create-issue-form
  padding: 10px;
  background: white;
  border: 1px solid #DDD;
  border-radius: 2px;
  position: relative;
.title
  font: 13px Helvetica,arial,freesans,clean,sans-serif;
  position: relative;
  font-size: 14px;
  font-weight: bold;
  color: #333;
#issue-title
  width: 49%;
  font-size: 16px;
  font-weight: bold;
  color: #444;
  box-sizing: border-box;
  margin-right: 5px;
  padding: 6px;
  color: #666;
  background-repeat: no-repeat;
  background-position: right center;
#issue-description
  margin-top: 15px;
  //margin-bottom: 70px;
.info-bar
  display: inline-block;
  margin: 15px 0 -10px;
  width: 100%;
  padding: 10px 10px 4px;
  border: 1px solid #E5E5E5;
  border-left: none;
  border-right: none;
  background: whiteSmoke;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 9px;
textarea
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  height: 150px;
  font-size: 12px;
button#create-issue-button
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  background: #8ADD6D;
  background: -moz-linear-gradient(#8ADD6D,#60B044);
  background: -webkit-linear-gradient(#8ADD6D,#60B044);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#8add6d',endColorstr='#60b044')";
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  display: inline-block;
  padding: 8px 15px;
  line-height: normal;
  position: relative;
  font-family: Helvetica,arial,freesans,clean,sans-serif;
  font-size: 12px;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid;
  border-color: #74BB5A;
  border-bottom-color: #509338;
  position: absolute;
  right: 5px;
#user-repos-select
  width: 49%;
  font-size: 16px;
  font-weight: bold;
  color: #444;
  box-sizing: border-box;
  padding: 6px 6px;
  color: #666;
  background-repeat: no-repeat;
  background-position: right center;
  border-color: rgba(102, 102, 102, 0.15);
  & option
    font-size: 12px;
    font-weight: normal;
.visible
  display: block;
.invisible
  display: none;