html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  background-color: #fff;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-size: 13px;
  color: #666;
  line-height: 1.6;
}
.container {
  width: 740px;
  margin: 0 auto;
}
header.container {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 30px;
}
header.container a,
header.container a:visited {
  white-space: nowrap;
  text-decoration: none;
  color: #333;
}
header.container a:hover {
  color: #fff;
}
#app-footer {
  border-top: 1px solid #e0e0e0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}
#app-footer .container {
  position: fixed;
  margin-top: 20px;
}
#app-footer .container p {
  display: inline-block;
  vertical-align: top;
  margin: 10px 10px 0 0;
}
#username {
  color: #4a3e7b;
  line-height: 22px;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
}
#username:hover {
  text-decoration: underline;
}
.page {
  position: relative;
  width: 740px;
}
.page-container {
  margin-bottom: 15px;
  padding: 3px;
  background: #eee;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.page-content {
  padding: 10px;
  background: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  position: relative;
  min-height: 160px;
}
.title {
  font: 13px Helvetica, arial, freesans, clean, sans-serif;
  position: relative;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}
#app-intro-page .title {
  margin: 10px 0 15px;
}
#issue-title {
  width: 49%;
  font-size: 16px;
  font-weight: bold;
  color: #444;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 5px;
  padding: 6px;
  color: #666;
  background-repeat: no-repeat;
  background-position: right center;
}
#issue-description {
  margin-top: 15px;
}
.info-bar {
  display: inline-block;
  margin: 15px 0 -10px;
  width: 100%;
  padding: 10px 10px 4px;
  border: 1px solid #e5e5e5;
  border-left: none;
  border-right: none;
  background: whiteSmoke;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 9px;
}
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  height: 150px;
  font-size: 12px;
}
.btn {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
  background: #ff8a66;
  background: -webkit-linear-gradient(#ff8a66, #ed4706);
  background: -moz-linear-gradient(#ff8a66, #ed4706);
  background: -o-linear-gradient(#ff8a66, #ed4706);
  background: -ms-linear-gradient(#ff8a66, #ed4706);
  background: linear-gradient(#ff8a66, #ed4706);
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  display: inline-block;
  padding: 8px 15px;
  line-height: normal;
  position: relative;
  font-size: 12px;
  font-weight: bold;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid;
  border-color: #e46432;
  border-bottom-color: #c13d14;
}
.btn:hover {
  background: #ee6a36;
  background: -webkit-linear-gradient(#ee6a36, #be410e);
  background: -moz-linear-gradient(#ee6a36, #be410e);
  background: -o-linear-gradient(#ee6a36, #be410e);
  background: -ms-linear-gradient(#ee6a36, #be410e);
  background: linear-gradient(#ee6a36, #be410e);
  border-color: #d64910;
  color: #fff;
}
button#create-issue-button {
  position: absolute;
  right: 5px;
  margin-top: 15px;
}
#user-repos-select {
  width: 49%;
  font-size: 16px;
  font-weight: bold;
  color: #444;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 6px 6px;
  color: #666;
  background-repeat: no-repeat;
  background-position: right center;
  border-color: rgba(102,102,102,0.15);
}
#user-repos-select option {
  font-size: 12px;
  font-weight: normal;
}
header {
  color: #666;
  font-size: 16px;
  width: 100%;
  position: relative;
}
header img {
  width: 22px;
  vertical-align: -6px;
  margin: 0 3px 0 10px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
}
#login,
#logout {
  color: #333;
  padding: 0 10px 0 10px;
  font-weight: bold;
  line-height: 24px;
  text-shadow: 0 1px 0 #fff;
  border: 1px solid #d4d4d4;
  border-bottom-color: #bcbcbc;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #fafafa;
  background: -webkit-linear-gradient(#fafafa, #eaeaea);
  background: -moz-linear-gradient(#fafafa, #eaeaea);
  background: -o-linear-gradient(#fafafa, #eaeaea);
  background: -ms-linear-gradient(#fafafa, #eaeaea);
  background: linear-gradient(#fafafa, #eaeaea);
  cursor: pointer;
}
#logout {
  position: absolute;
  right: 5px;
  bottom: -9px;
}
#login:hover,
#logout:hover {
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
  border-color: #1b0e53;
  border-bottom-color: #150a43;
  background: #716896;
  background: -webkit-linear-gradient(#716896, #1d0d5a);
  background: -moz-linear-gradient(#716896, #1d0d5a);
  background: -o-linear-gradient(#716896, #1d0d5a);
  background: -ms-linear-gradient(#716896, #1d0d5a);
  background: linear-gradient(#716896, #1d0d5a);
}
#no-results {
  margin-bottom: 10px;
  margin-top: 20px;
}
#chart-panel {
  margin: -35px auto 0;
  width: 400px;
}
#poll-description {
  margin-top: 10px;
  margin-bottom: 10px;
}
#yes,
#no {
  font-weight: bold;
}
#yes span,
#no span {
  margin-left: 4px;
}
.not-valid {
  border: 1px solid #f00 !important;
}
g.slice:nth-child(1) {
  fill: #ed4706;
}
g.slice:nth-child(2) {
  fill: #232063;
}
footer a {
  color: #4a3e7b;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
header svg {
  width: auto;
  display: inline-block;
}
header svg path {
  fill: #4a3e7b;
}
#home {
  margin-right: 15px;
  display: inline-block;
  bottom: -8px;
  width: 30px;
  height: 30px;
  position: relative;
}
#home:hover path {
  fill: #ff8a66;
}
.visible {
  display: block;
}
.inline-visible {
  display: inline-block;
}
.invisible {
  display: none;
}
