html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  background-color: #fff;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-size: 13px;
  color: #666;
  line-height: 1.6;
}
.container {
  width: 740px;
  margin: 0 auto;
}
header.container {
  margin-top: 10px;
  margin-bottom: 20px;
}
header.container a,
header.container a:visited {
  white-space: nowrap;
  text-decoration: none;
  color: #333;
}
header.container a:hover {
  color: #fff;
}
#app-footer {
  border-top: 1px solid #e0e0e0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}
#app-footer .container {
  margin-top: 20px;
}
#app-footer .container p {
  display: inline-block;
  vertical-align: top;
  margin: 10px 10px 0 0;
}
#username {
  color: #4183c4;
  line-height: 22px;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
}
.page {
  position: relative;
  width: 740px;
}
.page-container {
  margin-bottom: 15px;
  padding: 3px;
  background: #eee;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.page-content {
  padding: 10px;
  background: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  position: relative;
}
.title {
  font: 13px Helvetica, arial, freesans, clean, sans-serif;
  position: relative;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}
#issue-title {
  width: 49%;
  font-size: 16px;
  font-weight: bold;
  color: #444;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 5px;
  padding: 6px;
  color: #666;
  background-repeat: no-repeat;
  background-position: right center;
}
#issue-description {
  margin-top: 15px;
}
.info-bar {
  display: inline-block;
  margin: 15px 0 -10px;
  width: 100%;
  padding: 10px 10px 4px;
  border: 1px solid #e5e5e5;
  border-left: none;
  border-right: none;
  background: whiteSmoke;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 9px;
}
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  height: 150px;
  font-size: 12px;
}
.btn {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.40);
  background: #8add6d;
  background: -moz-linear-gradient(#8add6d, #60b044);
  background: -webkit-linear-gradient(#8add6d, #60b044);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#8add6d',endColorstr='#60b044')";
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.20);
  box-shadow: 0 1px 4px rgba(0,0,0,0.20);
  display: inline-block;
  padding: 8px 15px;
  line-height: normal;
  position: relative;
  font-size: 12px;
  font-weight: bold;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid;
  border-color: #74bb5a;
  border-bottom-color: #509338;
}
.btn:hover {
  background: #69d344;
  background: -moz-linear-gradient(#69d344, #4c8b36);
  background: -webkit-linear-gradient(#69d344, #4c8b36);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#69d344',endColorstr='#4c8b36')";
  border-color: #4a993e;
  color: #fff;
}
button#create-issue-button {
  position: absolute;
  right: 5px;
}
#user-repos-select {
  width: 49%;
  font-size: 16px;
  font-weight: bold;
  color: #444;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 6px 6px;
  color: #666;
  background-repeat: no-repeat;
  background-position: right center;
  border-color: rgba(102,102,102,0.15);
}
#user-repos-select option {
  font-size: 12px;
  font-weight: normal;
}
#user-info {
  color: #666;
  font-size: 16px;
  width: 100%;
  position: relative;
}
#login,
#logout {
  color: #333;
  position: absolute;
  padding: 0 10px 0 10px;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 24px;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;
  border: 1px solid #d4d4d4;
  border-bottom-color: #bcbcbc;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #fafafa;
  background: -moz-linear-gradient(#fafafa, #eaeaea);
  background: -webkit-linear-gradient(#fafafa, #eaeaea);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#eaeaea')";
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#logout {
  right: 5px;
  bottom: -4px;
}
#login:hover,
#logout:hover {
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.30);
  border-color: #518cc6;
  border-bottom-color: #2a65a0;
  background: #599bdc;
  background: -moz-linear-gradient(#599bdc, #3072b3);
  background: -webkit-linear-gradient(#599bdc, #3072b3);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bdc',endColorstr='#3072b3')";
}
#chart-panel {
  margin: 0 auto;
  width: 400px;
}
#poll-description {
  margin-top: 10px;
  margin-bottom: 10px;
}
#yes,
#no {
  font-weight: bold;
}
.visible {
  display: block;
}
.invisible {
  display: none;
}
